html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mitr";
  src: url("https://fonts.googleapis.com/css2?&family=Mitr:wght@300;400;700&display=swap");
}

@font-face {
  font-family: "Itim";
  src: url("https://fonts.googleapis.com/css2?family=Itim");
}

/* STyles */
.active {
  background-color: #fff;
  color: #8c60f6;
}

.active:hover {
  background-color: #fff !important;
}

.sidebar li {
  width: 100%;
}

.sidebar li a {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.875em;
  transition: all 0.3s;
  color: rgb(67, 83, 106);
  width: 100% !important;
}

.sidebar li a {
  color: #9564f7;
}

.sidebar li a:hover {
  background-color: #ede9fe !important;
}

.sidebar li a.active {
  background-color: #9564f7;
  color: #fff;
}

.sidebar li a.active svg {
  fill: #fff;
}

.sidebar li a.active:hover {
  background-color: #9564f7 !important;
  color: #fff;
}

@media (max-width: 1024px) {
  .sidebar li a {
    color: #fff;
  }

  .sidebar li a:hover {
    background-color: #a281f9 !important;
  }

  .sidebar li a.active {
    background-color: #fff;
    color: #8c60f6 !important;
  }

  .sidebar li a.active svg {
    fill: #9564f7;
  }

  .sidebar li:nth-child(4) a.active svg {
    fill: none;
    stroke: #9564f7;
  }

  .sidebar li a.active:hover {
    background-color: #fff !important;
  }
}
