html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mitr";
  src: url("https://fonts.googleapis.com/css2?&family=Mitr:wght@300;400;700&display=swap");
}

@font-face {
  font-family: "Itim";
  src: url("https://fonts.googleapis.com/css2?family=Itim");
}

/* STyles */
.active {
  background-color: #fff;
  color: #8c60f6;
}

.active:hover {
  background-color: #fff !important;
}

.sidebar li {
  width: 100%;
}

.sidebar li a {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.875em;
  transition: all 0.3s;
  color: rgb(67, 83, 106);
  width: 100% !important;
}

/* Handle Aside Links */
.sidebar li:nth-child(1) a {
  color: #3a82f6;
}

.sidebar li:nth-child(1) a:hover {
  background-color: #e9effe !important;
}

.sidebar li:nth-child(1) a.active {
  background-color: #e9effe;
  color: #3a82f6;
}

.sidebar li:nth-child(1) a.active:hover {
  background-color: #e9effe;
  color: #3a82f6;
}

.sidebar li:nth-child(2) a {
  color: #e35c99;
}

.sidebar li:nth-child(2) a:hover {
  background-color: #fee9f3 !important;
}

.sidebar li:nth-child(2) a.active {
  background-color: #fee9f3;
  color: #e35c99;
}

.sidebar li:nth-child(2) a.active:hover {
  background-color: #fee9f3;
  color: #e35c99;
}

.sidebar li:nth-child(3) a {
  color: #f1916d;
}

.sidebar li:nth-child(3) a:hover {
  background-color: #fef1e9 !important;
}

.sidebar li:nth-child(3) a.active {
  background-color: #fef1e9;
  color: #f1916d;
}

.sidebar li:nth-child(3) a.active:hover {
  background-color: #fef1e9;
  color: #f1916d;
}

.sidebar li:nth-child(4) a {
  color: #4692b2;
}

.sidebar li:nth-child(4) a:hover {
  background-color: #e9fafe !important;
}

.sidebar li:nth-child(4) a.active {
  background-color: #e9fafe;
  color: #4692b2;
}

.sidebar li:nth-child(4) a.active:hover {
  background-color: #e9fafe;
  color: #4692b2;
}
