html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mitr";
  src: url("https://fonts.googleapis.com/css2?&family=Mitr:wght@300;400;700&display=swap");
}

@font-face {
  font-family: "Itim";
  src: url("https://fonts.googleapis.com/css2?family=Itim");
}

button:focus,
button:active {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
