.navbar {
  .active {
    background-color: #fff;
    color: #8c60f6;
  }

  .active:hover {
    background-color: #fff !important;
  }

  .hs-dropdown.open .hs-dropdown-open\:opacity-100 {
    margin-top: 10px !important;
  }

  @media (max-width: 763px) {
    .hs-dropdown.open .hs-dropdown-open\:opacity-100 {
      margin-top: 20px !important;
    }
  }

  @media (max-width: 640px) {
    .hs-dropdown.open .hs-dropdown-open\:opacity-100 {
      position: relative !important;
      transform: translate((0px, 0px)) !important;
      margin-top: 0px !important;
    }
  }
}
