.sidebar {
  & li {
    width: 100%;

    & a {
      display: inline-flex;
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 0.875em;
      transition: all 0.3s;
      width: 100% !important;
      color: #9564f7;
      background: transparent;

      &.active {
        background-color: #9564f7;
        color: #fff;

        svg {
          fill: #fff;

          @media (max-width: 1023px) {
            fill: #9564f7;
          }
        }

        &:hover {
          background-color: #9564f7;
          color: #fff;
        }

        @media (max-width: 1023px) {
          background-color: #fff;
          color: #8c60f6 !important;
        }
      }

      &:hover {
        background-color: #ede9fe;
      }

      @media (max-width: 1023px) {
        color: #fff;
        background: transparent;

        &:hover {
          background-color: #a281f9;
        }
      }
    }

    &:nth-child(4),
    &:nth-child(2) {
      a.active {
        svg {
          fill: none;
          stroke: #fff;
        }
      }
    }

    @media (max-width: 1023px) {
      &:nth-child(4),
      &:nth-child(2) {
        a {
          &.active {
            svg {
              fill: none;
              stroke: #9564f7;
            }
          }
        }
      }

      & a.active:hover {
        background-color: #fff;
      }
    }
  }
}
